<%= link_to "All Categories", categories_path %>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Modify</th>
        <th>Messages</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @category.name %></td>
        <td><%= @category.description %></td>
        <td>
          <%= link_to "", edit_category_path(@category),
            class: "glyphicon glyphicon-edit" %>
          <%= link_to "", category_path(@category),
            method: :delete, data: {confirm: "Are you sure?"},
            class: "glyphicon glyphicon-trash" %>
        </td>
        <td>
          <%= @messages.each do |message| %>
            <%= message.content %><br>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
